<nav>
    <ul>
        <li>
            <a routerLink="/"
            routerLinkActive="active" aria-current="page"
            [routerLinkActiveOptions]="{exact: true}">
            Start</a>
        </li>
        <li>
            <a routerLink="/customer-form"
            routerLinkActive="active" aria-current="page"
            [routerLinkActiveOptions]="{exact: true}">
            Add Customer</a>
        </li>
        <li>
            <a 
            routerLink="/customer-data"
            routerLinkActive="active" aria-current="page"
            [routerLinkActiveOptions]="{exact: true}">
            Customers List</a>
        </li>
    </ul>
</nav>